// | -------------------------------------------------------------
// | Alignments
// | -------------------------------------------------------------

.align-center {
  display: grid;
  place-items: center;
}

.align-row-horizontal {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.align-row-vertical {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.align-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
