html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  .center {
    display: flex;
    justify-content: center;
    align-items: center;
}



p a {
    color: rgb(48, 48, 48);
    transition:  ease-out linear 1s;
    display: inline-block;
    position: relative;
    
}

p a::after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: darkgreen;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    transform: translateY(10px);
}

p a:hover::after { 
    width: 100%; 
    left: 0; 
  }

.cssCode {
    font-size: medium;
    background: coral;
    color: white;
    width: max-content;
    padding: .2em .5em;
    border-radius: 5px 5px 0 0;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem;
}

footer {
text-align: center;    width: 100%;
    
}