html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  .center {
    display: flex;
    justify-content: center;
    align-items: center;
}


div.clickEffect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #9c9b9b;
    border-radius: 50%;

    animation: clickEffect 1s ease-out;
    z-index: 99999;
}

@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.1em;
    }

    100% {
        opacity: 0.2;
        width: 5em;
        height: 5em;
        margin: -2.5em;
        border-width: 0.03em;
    }
}


h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem;
}

footer {
text-align: center;    width: 100%;
    
}

.copy {
    position: relative;

}

.copy ::before{
    content: 'CSS';
    position: absolute ;
    top: 0;
    left: 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    width: 3rem;
    background: rgb(226, 155, 62);
    color: honeydew;
}
