---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseContainer from "../components/BaseContainer.astro";
import SectionIntro from "../components/SectionIntro.astro";
import SectionRecentPosts from "../components/SectionRecentPosts.astro";
import SectionProjects from "../components/SectionProjects.astro";
import SectionSayHello from "../components/SectionSayHello.astro";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<BaseContainer headerTitle={SITE_TITLE}>
			<SectionIntro />
			<SectionRecentPosts />
			<SectionProjects />
			<SectionSayHello />
		</BaseContainer>
	</body>
</html>
