---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseContainer from "../components/BaseContainer.astro";
import SectionIntro from "../components/SectionIntro.astro";
import SectionRecentPosts from "../components/SectionRecentPosts.astro";
import SectionProjects from "../components/SectionProjects.astro";
import SectionSayHello from "../components/SectionSayHello.astro";
import Contribution from "../components/Contribution.astro";
import "../styles/global.css";
import ImageViewCSSInject from "../components/ImageViewCSSInject.astro";
import PreloadImages from "../components/PreloadImages.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <PreloadImages />
    <ImageViewCSSInject />
  </head>
  <body>
    <BaseContainer headerTitle={SITE_TITLE}>
      <SectionIntro />
      <SectionRecentPosts />
      <SectionProjects />
      <Contribution />
      <SectionSayHello />
    </BaseContainer>
  </body>
</html>
