---
import BlogPostLayout from "../layouts/BlogPost.astro";
import { projects } from "../data/projects.js";
---

<BlogPostLayout
    title="Projects"
    description="Projects by leovoon"
    pubDate={new Date("July 11 2023")}
    updatedDate={new Date("July 11 2023")}
>
<ul class="my-8">

    {
        projects.map((project) => {
            return (
                <li class="flex">
                    <h2>{project.name}</h2>
                    <p> - {project.description}</p>
                    </li>
                    );
                })
            }
            </ul>

    
</BlogPostLayout>
