---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import MasksEffect from "./MasksEffect.astro";

const { headerTitle } = Astro.props;
---

<MasksEffect />
<div class="max-w-[720px] mx-auto px-4 pt-16 relative">
  <Header title={headerTitle} />
  <main class="mt-20">
    <slot />
  </main>
</div>
<Footer />
