---
import { Icon } from "astro-icon";
import DarkmodeToggleInteractive from "./svelte/DarkmodeToggleInteractive.svelte";
---

<DarkmodeToggleInteractive client:load>
  <div class="w-6 h-6 grid place-items-center relative overflow-hidden">
    <Icon
      name="ph:moon-fill"
      class="absolute inset-0 w-6 h-6 text-transparent dark:text-amber-100"
    />
    <Icon
      name="ph:sun-fill"
      class="absolute inset-0 w-6 h-6 text-amber-300 dark:text-transparent"
    />
  </div>
</DarkmodeToggleInteractive>
