---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={["relative", className, { active: isActive }]}
  {...props}
>
  <slot />

  {
    isActive && (
      <div
        transition:name="active-page"
        transition:animate="initial"
        class="absolute left-0 -bottom-1 w-full h-1 rounded-full bg-amber-500"
      />
    )
  }
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    @apply font-bold  text-amber-700;
  }
</style>
