---
import RecentPosts from "./RecentPosts.astro";
---

<div class="flex justify-between items-center mt-12" id="posts-container">
  <h2 class="text-xl text-amber-700">Recent posts</h2>
  <a
    href="/blog"
    class="text-stone-500 underline-offset-8 text-base hover:text-amber-700 underline decoration-dashed"
    target="_self"
    rel="noreferrer">See all posts</a
  >
</div>
<RecentPosts />
