---
---

<div class="flex justify-between items-center mt-12">
  <h2 class="text-xl text-amber-700">Say Hello<h2></h2></h2>
</div>

<p class="my-8">
  Email me at voonlihhaur@gmail.com or follow me via my social links.
</p>
