---
import { Icon } from "astro-icon";
import Tooltip from "../components/svelte/Tooltip.svelte";

const year = new Date().getFullYear();
const startYear = 2021;
const yearDiff = year - startYear;
---

<div class="space-y-6 my-4">
  <h2 class="text-2xl">Hi, I'm Leo 👋</h2>
  <p class="max-w-[60ch] leading-6">
    你好 <span class="text-amber-700 dark:text-amber-600"> (nǐ hǎo)</span>, i'm
    a{" "}
    <Tooltip content="Web frontend lover with backend experience." client:idle>
      <strong class="font-normal text-amber-700 dark:text-amber-600">
        frontend web developer</strong
      >
    </Tooltip>
     with over{" "}<strong
      class="font-normal text-amber-700 dark:text-amber-600"
      >{yearDiff} years</strong
    >
     of web experience. I have worked with{" "}
    <Tooltip
      content="With redux, webpack and vite. Heart belongs to react-query"
      client:idle
    >
      <strong class="font-normal text-amber-700 dark:text-amber-600"
        >React.</strong
      >
    </Tooltip>
     Am embracing{" "}
    <Tooltip
      content="Address weaknesses in JavaScript. I recently excited about Effect-TS."
      client:idle
    >
      <strong class="font-normal text-amber-700 dark:text-amber-600"
        >TypeScript
      </strong>
    </Tooltip>

     and actively exploring various

    <Tooltip content="Svelte, Sveltekit, Astro, NextJS and more." client:idle>
      <strong class="font-normal text-amber-700 dark:text-amber-600"
        >JavaScript framworks</strong
      >
    </Tooltip>
     within the ecosystem. Outside of work I love music and cute things.
  </p>
  <ul class="flex space-x-2 items-center">
    <li>
      <a
        href="https://medium.com/@voonlihhaur"
        target="_blank"
        aria-label="Read about my medium post"
      >
        <Icon
          name="fa-brands:medium"
          class="w-6 h-6 text-stone-500 hover:text-amber-700 transition-colors duration-500"
        />
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/voon_leo"
        target="_blank"
        aria-label="Check out my formerly called twitter"
      >
        <Icon
          name="fa-brands:twitter"
          class="w-6 h-6 text-stone-500 hover:text-amber-700 transition-colors duration-500"
        />
      </a>
    </li>

    <li>
      <a
        href="https://github.com/leovoon"
        target="_blank"
        aria-label="Check out my github"
      >
        <Icon
          name="fa-brands:github"
          class="w-6 h-6 text-stone-500 hover:text-amber-700 transition-colors duration-500"
        />
      </a>
    </li>
    <li class="flex items-center">
      <span
        class="inline-flex items-center gap-1 text-stone-500 hover:text-amber-700 dark:hover:text-amber-700 transition-colors duration-500"
      >
        <Icon name="ic:baseline-location-on" class="w-7 h-7" />
        <text class="text-sm dark:text-stone-500">Kuching, Malaysia</text>
      </span>
    </li>
  </ul>
</div>
