---
import '../assets/scss/globals.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {
  title = 'Leo Voon',
  description = "A list of leo's hobby projects.",
  url,
  image = '/social-preview-image.png',
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap"
      rel="stylesheet"
    />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={(Astro.site ? Astro.site : '') + url}
      image={image}
    />
  </head>
  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
    <a
      href="#navbar"
      role="button"
      class="b-t-top"
      aria-label="back to top of page"
    >
      ↑</a
    >

    <style lang="scss">
      // theme settings
      :root {
        --radius-small: 3px;
        --radius-large: 6px;
        --gap-default: 2rem;
        --font-measure: 70ch;
        --font-family-default: 'Open Sans', sans-serif;
        --font-family-special: 'Open Sans', sans-serif;
        // light theme
        --font-color: var(--neutral-900);
        --action-color: var(--secondary-500);
        --background: var(--neutral-100);
        --primary-background: var(--primary-100);
        --neutral-background: var(--neutral-200);
      }

      // dark color scheme overrides
      .darkmode {
        --font-color: var(--neutral-100);
        --action-color: var(--secondary-100);
        --background: var(--neutral-800);
        --primary-background: var(--primary-500);
        --neutral-background: var(--neutral-900);
      }

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
      }

      body {
        display: flex;
        flex-direction: column;
        background-color: var(--background);

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }

        .b-t-top {
          cursor: pointer;
          border: dotted var(--action-color) 2px;
          color: var(--font-color);
          padding: 1em;
          height: max-content;
          width: max-content;
          align-self: flex-end;
          position: fixed;
          right: 20px;
          bottom: 20px;
          transition: transform ease-out 300ms;

          &:hover {
            transform: translateY(-10%);
            border: dotted var(--primary-100) 2px;
            color: var(--primary-100);
          }
        }
      }
    </style>
  </body>
</html>
